@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'colin';
  src: url('./fonts/colin.otf') format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  
}

.logo {
  font-family: 'colin';
  @apply font-bold text-3xl
}
